body {
    background-color: beige;
}

img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.newClass {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: black;
    size: 70cap;
    background-color: slategrey;
    size: 50cm;
}