h1 {
    color: red;
    font-size: xx-large;
    background-color: aqua;
}

h2 {
    color: blue;
    font-size: x-large;

}
h3 {
    color:burlywood;
    font-size: medium;
    background-color: black;
}

h4 {
    color:cornflowerblue;
    font-size: xx-large;
    background-color: blanchedalmond;
}