body {
    background-color: #212121;
}

img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.newClass {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: black;
    size: 70cap;
    background-color: slategrey;
    size: 50cm;
}




/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #1f1f1f;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}

.navLi a {
    text-decoration: none;
    font-family: 'Fira Code', monospace;
    font-size: 1rem;
    color: #cccccc;
    transition: all 0.3s ease;
    position: relative;
    padding: 0.25rem 0;
}

.navLi a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: #00ffd5;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
}

.navLi a:hover {
    color: #00ffd5;
}

.navLi a:hover::after {
    width: 100%;
}


#home {
    width: 100vw;
    height: 100vh;
}


/* About section */

#about {
    width: 100vw;
    height: 100vh;
    color: bisque
}

.bracket {
    font-size: 4vw;
    text-align: center;
    color: bisque
}

.aboutme {
    font-size: 5vw;
    text-align: center;
}

.about {
    font-size: 2vw;
    color: rgb(19, 97, 170);
    text-align: center;
}

.parent-about {
    display: flex;
    flex-direction: row;
}

.child-about {
    width: 50vw;

}

.left-about {
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    border-right: 1px solid rgba(255, 255, 255, 0.12);
}

.right-about {
    border-top: 1px solid rgba(255, 255, 255, 0.12);

}






/* Projects section */

#projects {
    width: 100vw;
    height: 100vh;
}


.project {
    font-size: 6vw;
    text-align: center;
}

/* contact section */


#contact {
    padding-top:  20vh;
    width: 100vw;
    height: 100vw;
}

.contacts {
    font-size: 5vw;
    color: aliceblue;
    text-align: center;
}

.contactme {
    color: red;

}

form {
    text-align: center;

}

.green-button:hover {
    background-color: darkgreen;
    /* Darker green on hover */
}

.green-button {
    background-color: green;
    /* Green background */
    color: white;
    /* White text */
    border: none;
    /* No border */
    padding: 10px 20px;
    /* Padding for size */
    font-size: 16px;
    /* Font size */
    cursor: pointer;
    /* Pointer cursor on hover */
    border-radius: 5px;
    /* Rounded corners */
}

.big-textbox {
    width: 300px;
    /* Set width */
    height: 150px;
    /* Set height */
    font-size: 16px;
    /* Adjust font size */
    padding: 10px;
    /* Add padding for better usability */
}